<h1><%= @user.username %></h1>
<dt>ID</dt>
  <dd><%= @user.id %></dd>
<dl>
  <dt>Edit user</dt>
    <dd>
      <form action="/edit_user/<%=@user.id%>">
        <label for="username">Username</label>
        <input id="username" type="text" name="input_username" placeholder="Enter a username..." value="<%= @user.username %>">
        <button>Update user</button>
      <form>
    </dd>
  </dt>
</dl>
<h2>Own photos(<%= @user.own_photos.count%>)</h2>
<table border="1">
  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th></th>
  </tr>
  <% @user.own_photos.each do |photo| %>
  <tr>
    <td><img src="<%= photo.image %>"></td>
    <td><%= photo.poster.username %></td>
    <td><%= photo.caption %></td>
    <td><%= photo.created_at%></td>
    <td><a href="photos/<%= photo.id %>">Show details</td>
  </tr>
  <% end %>
</table>
